[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
dj-database-url = "*"
django = "*"
gunicorn = "*"
django-heroku = "*"
whitenoise = "*"
psycopg2 = "*"
django-evniron = "*"

[requires]
python_version = "3.6"
