<!DOCTYPE html>
<html>
    <head>
        {% include 'base_header.html' %}
        {% load static %}
    </head>
    <body>
        {% include 'base_navbar.html' %}

        <div class="main">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-lg-10">
                        <div class="jumbotron">
                            <h1 class="display-4">Good bye</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% include 'base_footer.html' %}
</body>
</html>
