<!DOCTYPE html>
<html>
    <head>
        {% include 'base_header.html' %}
        {% load static %}
        <title>Todo List</title>
    </head>
    <body>
        <header>
            <h1>ToDo</h1>
            <hr>
        </header>
        <form action="{% url 'add' %}" method="post">
            {% csrf_token %}
            <fieldset>
                <label for="title">Title</label>
                <br>
                <input type="text" name="title" id="title" />
            </fieldset>
            <br>
            <fieldset>
                <label for="text">Text</label>
                <br>
                <textarea name="text" id="text"></textarea>
            </fieldset>
            <br>
            <br>
            <input type="submit" value="Submit" />
        </form>
        <br>
        <a href="{% url 'index' %}">Go Back</a>

        <footer>
            {% include 'base_footer.html' %}
        </footer>
    </body>
</html>
