<!DOCTYPE html>
<html>
    <head>
        {% include 'base_header.html' %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/todo_style.css' %}">
    </head>
    <body>
        {% include 'base_navbar.html' %}

        <div class="main">
            <div class="container">
                <form action="{% url 'add' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" name="title" id="title" placeholder="Todo Title"/>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea type="text" class="form-control" name="text" id="description" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

    {% include 'base_footer.html' %}
</body>
</html>
