<!DOCTYPE html>
<html>
    <head>
        {% include 'base_header.html' %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/todo_style.css' %}">
    </head>
    <body>
        {% include 'base_navbar.html' %}

        <div class="main">
            <div class="container">
                <form action="{% url 'add' %}" method="post">
                    {% csrf_token %}
                    <fieldset>
                        <label for="title">Title</label>
                        <br>
                        <input type="text" name="title" id="title" />
                    </fieldset>
                    <br>
                    <fieldset>
                        <label for="text">Text</label>
                        <br>
                        <textarea name="text" id="text"></textarea>
                    </fieldset>
                    <br>
                    <br>
                    <input type="submit" value="Submit" />
                </form>
            </div>
        </div>

    {% include 'base_footer.html' %}
</body>
</html>
