<!DOCTYPE html>
<html>
    <head>
        {% include 'base_header.html' %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/todo_style.css' %}">
    </head>
    <body>
        {% include 'base_navbar.html' %}

        <div class="main">
            <div class="container">
                <div class="jumbotron">
                    <h1 class="display-4">{{todoItem.title}}</h1>
                    <p class="lead">{{todoItem.text}}</p>
                    <hr class="my-4">
                    <p>Created on {{todoItem.created_at}}</p>
                    <p class="lead">
                        <form action="{% url 'delete' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="todoItemId" value="{{todoItem.id}}"/>
                            <input class="btn btn-outline-danger" type="submit" value="Delete"/>
                        </form>
                    </p>
                </div>
            </div>
        </div>

    {% include 'base_footer.html' %}
</body>
</html>
