<!DOCTYPE html>
<html>
    <head>
        {% include 'base_header.html' %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/todo_style.css' %}">
    </head>
    <body>
        {% include 'base_navbar.html' %}

        <div class="main">
            <div class="container">
                <h1>{{todoItem.title}}</h1>
                <p>{{todoItem.text}}</p>
                <br>
                <span>Created on {{todoItem.created_at}}</span>
                <br>
                <form action="{% url 'delete' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="todoItemId" value="{{todoItem.id}}"/>
                    <input type="submit" value="Delete"/>
                </form>
            </div>
        </div>

    {% include 'base_footer.html' %}
</body>
</html>
