<!DOCTYPE html>
<html>
    <head>
        {% include 'base_header.html' %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/todo_style.css' %}">
    </head>
    <body>
        {% include 'base_navbar.html' %}

        <div class="main">
            <div class="container">
                <ul>
                    {% for todoItem in todoList %}
                    <li>
                        <a href="{% url 'details' todoItem.id %}">{{todoItem.title}}</a><span>: {{todoItem.text}}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    {% include 'base_footer.html' %}
</body>
</html>
