<!DOCTYPE html>
<html>
    <head>
        {% include 'base_header.html' %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/todo_style.css' %}">
    </head>
    <body>
        <header class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <span class="navbar-brand h1">{{ pageTitle }}</span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'add' %}">Add a Todo</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="main">
            <div class="container">
                <ul>
                    {% for todoItem in todoList %}
                    <li>
                        <a href="{% url 'details' todoItem.id %}">{{todoItem.title}}</a><span>: {{todoItem.text}}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    {% include 'base_footer.html' %}
</body>
</html>
