<!DOCTYPE html>
<html>
    <head>
        {% include 'base_header.html' %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/todo_style.css' %}">
        <title>Todo List</title>
    </head>
    <body>
        <header>
            <h1>ToDo</h1>
            <hr>
            <a href="{% url 'add' %}">Add a Todo</a>
        </header>
        <div class="container">
        <ul>
            {% for todoItem in todoList %}
            <li>
                <a href="{% url 'details' todoItem.id %}">{{todoItem.title}}</a><span>: {{todoItem.text}}</span>
            </li>
            {% endfor %}
        </ul>
        </div>

        <footer>
            {% include 'base_footer.html' %}
        </footer>
    </body>
</html>
