<!DOCTYPE html>
<html>
    <head>
        {% include 'base_header.html' %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/aportes_style.css' %}">
    </head>
    <body>
        {% include 'base_navbar.html' %}

        <div class="main">

            <div class="container">
                <form class="aportes-form" action="mensal.html" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="capital_inicial">Capital inicial a ser investido: </label>
                        <input class="form-control" type="number" name="capital_inicial" value="0">
                    </div>
                    <div class="form-group">
                        <label for="aportes_mensais">Aportes mensais: </label>
                        <input class="form-control" type="number" name="aportes_mensais" value="100">
                    </div>
                    <div class="form-group">
                        <label for="taxa_mensal">Rendimento mensal (%): </label>
                        <input class="form-control" type="number" name="taxa_mensal" step="0.01" value="0.90">
                    </div>
                    <div class="form-group">
                        <label for="taxa_progressiva">Taxa progressiva anual do capital (%): </label>
                        <input class="form-control" type="number" name="taxa_progressiva" value="0">
                    </div>
                    <div class="form-group">
                        <label for="capital_objetivo">Capital objetivo: </label>
                        <input class="form-control" type="number" name="capital_objetivo" value="1000000">
                    </div>
                    <button type="submit" class="btn btn-primary">Calcular</button>
                </form>

            </div>

        </div>

        {% include 'base_footer.html' %}
    </body>
</html>
