<!DOCTYPE html>
<html>
    <head>
        {% include 'base_header.html' %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/aportes_style.css' %}">
    </head>
    <body>
        <header class="container">
            <nav class="navbar-brand">
                <span class="navbar-brand h1">{{ pageTitle }}</span>
            </nav>
            <hr>
        </header>

        <div class="main">

            <div class="container">

            </div>

        </div>

        {% include 'base_footer.html' %}
    </body>
</html>
