<!DOCTYPE html>
<html>
    <head>
        {% include 'base_header.html' %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/aportes_style.css' %}">
    </head>
    <body>
        {% include 'base_navbar.html' %}

        <div class="main">

            <div class="container">
                <span>Capital inicial: {{ capital_inicial }}</span><br>
                <span>Taxa mensal: {{ taxa_mensal|stringformat:".2f" }}%</span><br>
                <span>Progressão anual dos aportes: {{ taxa_progressiva|stringformat:".2f" }}</span><br>
                <span>Capital objetivo: {{ capital_objetivo|stringformat:".2f" }}</span><br>
                <br>
                <span>Valores anuais:</span><br>
                <table class="table table-striped table-hover table-sm">
                    <thead>
                        <tr>
                            <th>Anos</th>
                            <th>Aportes Mensais</th>
                            <th>Capital Investido</th>
                            <th>Valor Anual</th>
                            <th>Lucro Anual</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for valor in valores_mensais %}
                        {% if valor.valor_anual >= 1000000 %}
                        <tr class="table-success">
                        {% else %}
                        <tr>
                        {% endif %}
                            <td>{{ forloop.counter }}</td>
                            <td>{{ valor.aportes_mensais|stringformat:".2f" }}</td>
                            <td>{{ valor.capital_investido|stringformat:".2f" }}</td>
                            <td>{{ valor.valor_anual|stringformat:".2f" }}</td>
                            <td>{{ valor.lucro_anual|stringformat:".2f" }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>

        </div>

        {% include 'base_footer.html' %}
    </body>
</html>
