<footer class="footer container">
    <div class="padding-expand d-flex justify-content-between border-top">
        <ul class="nav d-flex flex-wrap">
            <li class="nav-item">
                <span>{{ appName }}</span>
            </li>
            <li class="nav-item">
                <a href="/">WebApps</a>
            </li>
        </ul>

        <a href="{% url appName %}" title="{{ appName }}">{{ appName }}</a>

        <ul class="nav d-flex flex-wrap">
            <li class="nav-item">
                <a href="https://github.com/Moggi/WebApps">GitHub</a>
            </li>
            <li class="nav-item">
                <a href="https://github.com/Moggi/WebApps/blob/master/README.md">About</a>
            </li>
        </ul>
    </div>
</footer>
